<div class="container-sm">

    <div class="card" style="width: 60rem;">
      <div class="card-body">
  
        <div class="position-absolute start-50 translate-middle">
          <h1 class="card-title"><b>Registrar Productos</b></h1>
        </div>
  
            <form  class="row g-3 needs-validation" novalidate  >

                <div class="col-md-12 position-relative">
                    <label for ="product_name">Producto</label>
                    <input type="text" class="form-control" name="product_name" [(ngModel)]="product.product_name" ngModel required >
                </div>

                <div class="col-md-12 position-relative">
                    <label for ="details">Detalles</label>
                    <input type="text" class="form-control" name="details" [(ngModel)]="product.details" >
                </div>
            
                <div class="col-md-6 position-relative">
                    <label for ="size">Talla</label>
                   
      
              <select id = "inputSize" name="size" style="margin: 10px" [(ngModel)]="product.size">
                <option selected>XXS</option>
                <option value="1">XS</option>
                <option value="2">S</option>
                <option value="3">M</option>
                <option value="4">L</option>
                <option value="5">XL</option>
                <option value="6">XXL</option>
              </select>

            
            


                    <!-- <input type="text" class="form-control" name="size" [(ngModel)]="product.size" > -->
                </div>
                

                <div class="col-md-6 position-relative">
                    <label for ="color">Color</label>
                    <input type="number" class="form-control" name="color" [(ngModel)]="product.color" >
                </div>

                <div class="col-md-6 position-relative">
                    <label for ="costProduct" >Precio</label>
                    <input type="decimal" class="form-control" name="costProduct" [(ngModel)]="product.costProduct" >
                </div>

                <div class="col-md-6 position-relative">
                    <label for ="status" >Stock</label>
                    <input type="number" class="form-control" name="stock" [(ngModel)]="product.stock" >
                </div>
           
                  
                <div class="col-md-12 position-relative">
                    <label for ="categoria" >Categoria</label>
                    <input type="text" class="form-control" name="categoria" [(ngModel)]="product.categoria_categoria_id" >
                </div>

            
            <!-- <button class="btn btn-success" role="button" (click)='create()' *ngIf="!product.product_id else elseBlock">Agregar</button> -->
            <!-- <div class="custom-file">
                <input type="file" class="custom-file-input" id="imagen" #imagenInputFile  
                (change)="selectFiles($event)" accept="image/png, image/jpeg, image/gif">
                <label class="custom-file-label" for="imagen">Elige una imagen</label>
            </div>
            <div *ngIf="selectedFiles" class="mt-5">
                <h5>Vista Previa:</h5>
                <div>
                    <img class="image-thumbnail" style="max-height: 100px" *ngFor="let im of imagenMin" [src]="im">
                </div>
            </div> -->

            <div class="col-md-6 " class="text-center well">
                <div class="position top-50 start-50">
    
                        <button class="btn btn-dark" style="margin: 10px" type="button" [routerLink]="['/products']">Atrás</button>
    
                        <button class="btn btn-success" style="margin: 10px" type="submit" role="button" (click)='create()'*ngIf="!product.product_id else elseBlock">Crear producto</button>
                        <ng-template #elseBlock>
                            <button class="btn btn-success" style="margin: 10px" type="submit" role="button" (click)='update()'>Actualizar</button>
                        </ng-template>
    
    
                </div>
            </div>
        </form>
    </div>



</div>