<div class="container">

  <div class="abs-center">

    <form class="border p-3 form row g-3">

      <div class=" py-5 text-center">
        <h2 style="color: black;">Registrar tarjeta</h2>
      </div>

      <div class="col-md-6 position-relative"><br><br>
        <label for="inputCardname">Nombre</label>
        <input type= "text" class="form-control"  name="card_name" [(ngModel)]="card.card_name">
      </div>

      <div class="col-md-6 position-relative"><br><br>
        <label for="inputLastname">Número de tarjeta</label>
        <input type="text" class="form-control" name="card_number"  [(ngModel)]="card.card_number">
    </div>

    <div class="col-md-6 position-relative">
          <label for="inputExpirationYear">Año de expiración</label>
          <input type="text" class="form-control" name="expiration_year"  [(ngModel)]="card.expiration_year">
    </div>

  <div class="col-md-6 position-relative">
    <label for="inputExpirationMonth">Mes de expiración</label>
    <select id = "inputExpirationMonth"  name="expiration_month" style="margin: 10px"  [(ngModel)]="card.expiration_month">
      <option value="1">Enero</option>
      <option value="2">Febrero</option>
      <option value="3">Marzo</option>
      <option value="4">Abril</option>
      <option value="5">Mayo</option>
      <option value="6">Junio</option>
      <option value="7">Julio</option>
      <option value="8">Agosto</option>
      <option value="9">Septiembre</option>
      <option value="10">Octubre</option>
      <option value="11">Noviembre</option>
      <option value="12">Diciembre</option>
    </select>
  </div>

  <div class="col-md-6 position-relative">
    <label for="inputPhone">CVC</label>
                <input type="text" class="form-control"  name="cvc"  [(ngModel)]="card.cvc">
  </div> <br><br>

  <div class="col-md-6 " class="text-center well">
    <div class="position top-50 start-50">

      <button class="btn btn-dark" style="margin: 10px" type="button" [routerLink]= "['/card']" >Atrás</button>

      <button class="btn btn-success" style="margin: 10px" type="submit" role="button" (click)='create()'*ngIf="!card.card_id else elseBlock">Crear tarjeta</button>
      <ng-template #elseBlock>
        <button class="btn btn-success" style="margin: 10px" type="submit" role="button" (click)='update()'>Actualizar</button>
      </ng-template>

    </div>
  </div>

    </form>
  </div>
</div>
