<div class="container main-container">
  <div class="jumbotron">

      <h1 class="display-4 animated fadeIn fast">Forma parte de nuestra Tienda virtual ISI</h1>
      <hr class="my-4 animated fadeIn">
      <p class="animated fadeIn">Registrate y disfruta de nuestros productos</p>
  
      <form class="row g-3 needs-validation" novalidate>
  
        <div class="form-group animated fadeIn fast">
          <div class="form-group col-md-6">
          <label for="inputFirstname">Nombre</label>
          <input type="text" class="form-control" id="inputFirstname" name="firstname" ngModel #firstname="ngModel"
          [class.is-invalid]="firstname.invalid && firstname.touched"
          minlength="1"
          pattern=".*\S+.*"
          required >
      <small class="form-text text-danger" *ngIf="firstname.invalid && firstname.touched">El campo es obligatorio</small>
      </div>
    </div>
  
          <div class="form-row animated fadeIn fast">
              <div class="form-group col-md-6">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control" id="inputEmail" name="email" ngModel #email="ngModel"
                  [class.is-invalid]="email.invalid && email.touched"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,8}$"
                  minlength="1"
                  required >
              <small class="form-text text-danger" *ngIf="email.invalid && email.touched">Ingrese un correo valido</small> 
              </div>
            
          </div>
 

          <div class="form-row animated fadeIn fast">
              <div class="form-group col-md-6">
                  <label for="inputPassword4">Contraseña</label>
                  <input type="password" class="form-control" id="inputPassword4" name="password" ngModel #password="ngModel"
                  [class.is-invalid]="password.invalid && password.touched"
                  minlength="10"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}"
                  required >
                  <small class="form-text text-danger" *ngIf="password.invalid && password.touched">Debe tener un minimo de 10 caracteres, un numero y una mayuscula </small>
              </div>
            
          </div>  
  
          <div class="col-12">
            <button class="btn btn-primary" type="submit">registrarse</button>
          </div>
    </form>
    <br>
     
  </div>

</div>