<div class="container main-container">
  <div class="jumbotron">

      <h1 class="display-4 animated fadeIn fast">Forma parte de nuestra Tienda virtual ISI</h1>
      <hr class="my-4 animated fadeIn">
      <p class="animated fadeIn">Registrate y disfruta de nuestros productos</p>
  
      <form class="row g-3 needs-validation" novalidate>
  
        <div class="form-group animated fadeIn fast">
          <div class="form-group col-md-6">
          <label for="inputusername">Nombre de usuario</label>
         
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username" >
       
      </div>
    </div>

    <div class="form-group animated fadeIn fast">
      <div class="form-group col-md-6">
      <label for="inputusername">Nombre</label>
     
        <input type="text" class="form-control" name="name" [(ngModel)]="user.name" >
   
  </div>
</div>

<div class="form-group animated fadeIn fast">
  <div class="form-group col-md-6">
  <label for="inputusername">Apellido</label>
 
    <input type="text" class="form-control" name="lastname" [(ngModel)]="user.lastname" >

</div>
</div>


<div class="form-group animated fadeIn fast">
  <div class="form-group col-md-6">
  <label for="inputusername">Ingresa tu correo</label>
 
    <input type="email" class="form-control" name="email" [(ngModel)]="user.email" >

</div>
</div>

<div class="form-group animated fadeIn fast">
  <div class="form-group col-md-6">
  <label for="inputusername">Ingresa Contraseña</label>
 
    <input type="password" class="form-control" name="password" [(ngModel)]="user.password" >

</div>
</div>



 

          
  
          <div class="col-12" class="text-center">
            <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!user.user_id ">Crear usuario</button>
          </div>
    </form>
    <br>
     
  </div>

</div>