<div class="container-sm">
  <div class="position top-50 start-50">
    <button class="btn btn-dark" type="button" [routerLink]="['/categorias/form']">Nueva categoria</button>
  </div>
  <div class="card" style="width: 60rem;">
    <div class="card-body">

      <div class="position-absolute start-50 translate-middle">
        <h1 class="card-title"><b>Lista de Categorias</b></h1>
      </div>

      <table class="table table-sm">
   
        <thead>
          <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre Categoria</th>
        <th scope="col">Status</th>
        <th scope="col">Accion</th>
        
    
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <th scope="row">{{categoria.categoria_id}}</th>
        <td>{{categoria.nombre}}</td>
        <td>{{categoria.status}}</td>
        <td>
          <div>
           <button class="btn btn-success" style="margin: 10px" type="btnEdit" [routerLink]="['/categorias/form', categoria.categoria_id]">Editar</button>
           <button  name="btnDelete" style="margin: 10px"  class="btn btn-danger" (click)="delete(categoria)">Eliminar</button>
           
          

           <button type="button"style="margin: 10px" name ="btnView" class="btn btn-warning" (click)= "cargar(categoria.categoria_id) ">
            {{categoria.status ? 'Deshabilitar' : '  Habilitar  '}}</button>

          </div>
          </td>
   
         
      </tr>
      
    </tbody>
  </table>
</div>