<div class="container">
    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <form>
            <div class="form-group row">
                <label for ="nombre" class="col-form-label col-sm-2">Nombre Categoria</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="categoria.nombre" >
                </div>

            </div>
            <!-- <div class="form-group row">
                <label for ="status" class="col-form-label col-sm-2">Status</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="status" [(ngModel)]="categoria.status" >
                </div>

            </div> -->
    
            <!-- <button class="btn btn-success" role="button" (click)='create()' *ngIf="!product.product_id else elseBlock">Agregar</button> -->
            <!-- <div class="custom-file">
                <input type="file" class="custom-file-input" id="imagen" #imagenInputFile  
                (change)="selectFiles($event)" accept="image/png, image/jpeg, image/gif">
                <label class="custom-file-label" for="imagen">Elige una imagen</label>
            </div>
            <div *ngIf="selectedFiles" class="mt-5">
                <h5>Vista Previa:</h5>
                <div>
                    <img class="image-thumbnail" style="max-height: 100px" *ngFor="let im of imagenMin" [src]="im">
                </div>
            </div> -->
            <button class="btn btn-success" role="button" (click)='create()' *ngIf="!categoria.categoria_id else elseBlock">Agregar</button>
            
            <ng-template #elseBlock>
                <button class="btn btn-success" role="button" (click)='update()'>Actualizar</button>
            </ng-template>

        </form>
    </div>



    <p>form-product works!</p>
</div>