<div class="container-sm">

  <div class="card" style="width: 60rem;">
    <div class="card-body">

      <div class="position-absolute start-50 translate-middle">
        <h5 class="card-title"><b>Registrar usuarios</b></h5>
      </div>

    <form class="row g-3 needs-validation" novalidate>

      <div class="col-md-6 position-relative"><br><br>
        <label for="validationTooltip01" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Mark" required>
        <div class="valid-tooltip">
          Please choose a valid name.
        </div>
      </div>
      <div class="col-md-6 position-relative"><br><br>
        <label for="validationTooltip02" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="validationTooltip02" value="Otto" required>
        <div class="valid-tooltip">
          Please choose a valid lastname.
        </div>
      </div>
      <div class="col-md-6 position-relative">
        <label for="validationTooltipUsername" class="form-label">Correo</label>
        <div class="input-group has-validation">
         <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
          <div class="invalid-tooltip">
            Please choose a valid email.
          </div>
        </div>
      </div>
      <div class="col-md-6 position-relative">
        <label for="inputTag">Rol</label>
        <select id="inputTag" class="form-control" name="name_rol" ngModel required #name_rol="ngModel">
            <option selected value="1">Administrador</option>
            <option selected value="2">Gerente</option>
            <option selected value="3">Ventas</option>
        </select>
    </div>

      <div class="col-md-6 position-relative">
        <label for="validationTooltip03" class="form-label">Nombre de Usuario</label>
        <input type="text" class="form-control" id="validationTooltip03" required>
        <div class="invalid-tooltip">
          Please provide a valide username.
        </div>
      </div>

      <div class="form-row animated fadeIn fast">
      <div class="col-md-6 position-relative">
        <label for="inputPassword4" class="form-control">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword4" name="password" ngModel #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
        minlength = "8"
        pattern = "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        <small class="form-text text-danger" *ngIf="password.invalid && password.touched">
          La contraseña debe tener al menos 8 caracteres, un numero y una letra mayuscula
        </small>
      </div>
    </div>

      <div class="col-12" class="text-center">
        <button class="btn btn-primary" type="submit">Crear usuario</button>
      </div>
    </form>

    </div>
  </div>


</div>

