<div class="container-sm">

  <div class="card" style="width: 60rem;">
    <div class="card-body">

      <div class="position-absolute start-50 translate-middle">
        <h1 class="card-title"><b>Registrar usuarios</b></h1>
      </div>

      <form  class="row g-3 needs-validation" novalidate>
      <div class="col-md-6 position-relative"><br><br>

        <label for="inputFirstname">Nombre</label>
        <input type="text" class="form-control" id="inputName"  name="name" [(ngModel)]="user.name"
        >

      </div>

      <div class="col-md-6 position-relative"><br><br>


          <label for="inputLastname">Apellido</label>
          <input type="text" class="form-control" id="inputLastname" name="lastname" [(ngModel)]="user.lastname"
          >

      </div>


      <div class="col-md-6 position-relative">

        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail"  name="email" [(ngModel)]="user.email"
        >
      </div>
      <div class="col-md-6 position-relative">


        <select id = "inputSize" name="size" style="margin: 40px" [(ngModel)]="user.rol_id" >
              
                <option value="1">administrador</option>
                <option value="2">Gerente</option>
                
      </select>

      </div>

      <div class="col-md-6 position-relative">


        <label for="inputFirstname">Nombre de usuario</label>
        <input type="text" class="form-control" id="inputUsername"  name="username" [(ngModel)]="user.username" >


      </div>



      <div class="form-group col-md-6">
        <label for="inputusername">Ingresa Contraseña</label>

          <input type="password" class="form-control" name="password" [(ngModel)]="user.password" >

      </div>




      <div class="col-md-6 " class="text-center well">
        <div class="position top-50 start-50">

          <button class="btn btn-dark" style="margin: 10px" type="button" [routerLink]="['/user-admin']">Atrás</button>

          <button class="btn btn-success" style="margin: 10px" type="submit" role="button" (click)='create()'*ngIf="!user.user_id else elseBlock">Crear usuario</button>
          <ng-template #elseBlock>
            <button class="btn btn-success" style="margin: 10px" type="submit" role="button" (click)='update()'>Actualizar</button>
          </ng-template>


        </div>
      </div>
    </form>

    </div>
  </div>


</div>
