h1 {
    font-weight: bold;
    margin-top: 60px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
  }
  .container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .flex {
    display: flex;
  }
  .content {
    padding: 5px;
    text-align: center;
    justify-content: center;
   border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px black;
    width: 90%;
    height: 500px;
    box-sizing: border-box;
    margin: 20px 60px;
    background-color: #F9FAF6;
  }
  .content > h2 {
    margin: 20px;
    display: block;
    font-size: 21px;
    text-align: left;
  }
 
  .table:hover {
    background-color: black;
    color: black;
  }
  
  
  @media (max-width: 1070px) {
    .table {
      width: 45%;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 600px) {
    .table {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  