<div class="container-sm">

    <div class="card" style="width: 60rem;">
      <div class="card-body">
  
        <div class="position-absolute start-50 translate-middle">
          <h5 class="card-title"><b>Lista de clientes</b></h5>
        </div>
  
  
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="">
              <th scope="row">  </th>
              <td>  2  </td>
              <td>  2</td>
              <td>  1 </td>
            </tr>
  
  
          </tbody>
        </table>
      </div>
      </div>
  

  </div>
  