<div class="container-sm">

  <div class="card" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-title">Actualización de Datos</h5>

    <form class="row g-3 needs-validation" novalidate>

      <div class="col-md-6 position-relative">
        <label for="validationTooltip01" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="validationTooltip01" value="Mark" required>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-6 position-relative">
        <label for="validationTooltip02" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="validationTooltip02" value="Otto" required>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="row g-3 needs-validation">
        <label for="validationTooltipUsername" class="form-label">Correo</label>
        <div class="input-group has-validation">
         <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
          <div class="invalid-tooltip">
            Please choose a unique and valid username.
          </div>
        </div>
      </div>
      <div class="col-md-6 position-relative">
        <label for="validationTooltip03" class="form-label">Celular</label>
        <input type="text" class="form-control" id="validationTooltip03" required>
        <div class="invalid-tooltip">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-6 position-relative">
        <label for="validationTooltip03" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="validationTooltip03" required>
        <div class="invalid-tooltip">
          Please provide a valid city.
        </div>
      </div>

      <div class="col-12" class="text-center">
        <button class="btn btn-primary" type="submit">Actualizar</button>
      </div>
    </form>

    </div>
  </div>


</div>

