<div class="header">
    <img class="avatar" src="assets/img/logo.jpeg">

  </div>

  <div class="container main-container animated fadeIn" style="background-color: #D4E6F1  " >
    <div class="container text-center" >
      <section id="top">

        <h2>Usuario {{user.name}}</h2>
      </section>
    </div>

    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
             <img class="avatar" src="assets/img/n4.jpeg">
             
            </div>
            <div class="col-md-8" style="font-size: 15px;">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nombre</h6>

                    </div>
                    <div class="col-sm-9 text-secondary" >
                      {{user.name}}
                    </div>

                  </div>




                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Apellido</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.lastname}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nombre de Usuario</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.username}}
                    </div>
                  </div>
                  <hr>



                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Telefono</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.telephone}}
                    </div>
                  </div>
                  <hr>



                </div>


              </div>
              </div>

          </div>

        </div>

    </div>

