.header
{
  text-align: center;
  height: 300px;
  height: 350px;
  padding: 12px;
  background: url(../../../assets/img/m1.jpeg) ;
}
.avatar
{
  width: 200px;
  height: 200px;
  border-radius: 60%;
}
.edit {
  background-color: #5cda9b;
  border-color: #5cda9b;
}
.editfont {
  color: white;
}

.orderfont {
  color: black;
}
#top{
  margin-top: 50px;
}
#main-body{
 color: aqua;
}